.outlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    .sub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 16px;
      .section {
        background-color: #fafafa;
        padding: 16px 16px 0 16px;
        border-radius: 12px;
        .header {
          font-weight: 600;
          font-size: 20px;
        }
      }
      .uni-dept-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
      }
      .start-end-break-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
      }
      .teacher-info-section {
        .teacher-details-area {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .teachers-area {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .teacher-item {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              column-gap: 16px;
            }
          }
        }
      }
      .room-info-section {
        .room-details-area {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .rooms-area {
            display: flex;
            flex-direction: column;
            .room-item {
              .lab-course-field {
                margin-left: 12px;
              }
            }
          }
        }
      }
      .year-info-section {
        .year-details-area {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .years-area {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            .year-item {
              display: flex;
              flex-direction: column;
              row-gap: 24px;
              padding: 16px;
              border: 1px solid gray;
              border-radius: 12px;
              .year-semester {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 16px;
              }
              .semester-info-area {
                display: flex;
                flex-direction: column;
                row-gap: 16px;
                .semester-item {
                  display: flex;
                  flex-direction: column;
                  row-gap: 16px;
                  padding: 16px 16px 0 16px;
                  border: 1px solid gray;
                  border-radius: 12px;
                  .sub-header {
                    font-weight: 600;
                    font-size: 18px;
                  }
                  .course-info-area {
                    .course-details {
                      .course-item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 16px;
                        .sub-sub-header {
                          font-size: 16px;
                          font-weight: 600;
                        }
                        .course-fields-area {
                          display: flex;
                          flex-direction: column;
                          .course-info-fields {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            column-gap: 16px;
                          }
                          .course-teachers-area {
                            display: flex;
                            flex-direction: column;
                            .course-teacher-details {
                              display: flex;
                              flex-direction: column;
                              .course-teacher-item {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                column-gap: 16px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
