<div class="outlay">
  <form [formGroup]="routineForm">
    <div class="container">
      <h3>CLASS ROUTINE FORM</h3>
      <div class="sub-container">
        <div class="section" formGroupName="workingDays">
          <label class="sub-header">Working Days</label>
          <div>
            <mat-checkbox formControlName="Sunday">Sunday</mat-checkbox>
            <mat-checkbox formControlName="Monday">Monday</mat-checkbox>
            <mat-checkbox formControlName="Tuesday">Tuesday</mat-checkbox>
            <mat-checkbox formControlName="Wednesday">Wednesday</mat-checkbox>
            <mat-checkbox formControlName="Thursday">Thursday</mat-checkbox>
            <mat-checkbox formControlName="Friday">Friday</mat-checkbox>
            <mat-checkbox formControlName="Saturday">Saturday</mat-checkbox>
          </div>
        </div>
        <div class="start-end-break-section section">
          <mat-form-field appearance="outline">
            <mat-label>Start Time</mat-label>
            <mat-select formControlName="startTime">
              <mat-option
                *ngFor="let option of startTimeOptions"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>End Time</mat-label>
            <mat-select formControlName="endTime">
              <mat-option
                *ngFor="let option of endTimeOptions"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Break Period</mat-label>
            <mat-select formControlName="breakPeriod">
              <mat-option
                *ngFor="let option of breakPeriodOptions"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="section teacher-info-section">
          <mat-form-field appearance="outline">
            <mat-label>Number of Teachers</mat-label>
            <input
              matInput
              type="number"
              formControlName="numberOfTeachers"
              (input)="onTeacherCountChange()"
              min="1"
            />
            <mat-error
              *ngIf="routineForm.get('numberOfTeachers')?.hasError('required')"
            >
              This field is required
            </mat-error>

            <mat-error
              *ngIf="routineForm.get('numberOfTeachers')?.hasError('min')"
            >
              Minimum value is 1
            </mat-error>
          </mat-form-field>
          <div
            *ngIf="routineForm.get('numberOfTeachers')?.value > 0"
            class="teacher-details-area"
            formArrayName="teachers"
          >
            <label class="sub-header">Teacher Details</label>
            <div
              *ngFor="let teacher of teachers.controls; let i = index"
              [formGroupName]="i"
              class="teacher-fields"
            >
              <mat-form-field appearance="outline">
                <mat-label>Teacher Name</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Abbreviation</mat-label>
                <input matInput formControlName="abbreviation" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- Room Info Section -->
        <div class="section room-info-section">
          <!-- Number-of-rooms input (unchanged) -->
          <mat-form-field appearance="outline">
            <mat-label>Number of Rooms</mat-label>
            <input
              matInput
              type="number"
              formControlName="numberOfRooms"
              (input)="onRoomCountChange()"
              min="1"
            />
            <mat-error
              *ngIf="routineForm.get('numberOfRooms')?.hasError('required')"
            >
              This field is required
            </mat-error>
            <mat-error
              *ngIf="routineForm.get('numberOfRooms')?.hasError('min')"
            >
              Minimum value is 1
            </mat-error>
          </mat-form-field>

          <!-- Dynamic room list -->
          <div
            class="room-details-area"
            formArrayName="rooms"
            *ngIf="routineForm.get('numberOfRooms')?.value > 0"
          >
            <label class="sub-header">Room Details</label>
            <div class="rooms-area">
              <div
                *ngFor="let room of rooms.controls; let i = index"
                [formGroupName]="i"
                class="room-item"
              >
                <!-- 🆕 Room-No input -->
                <mat-form-field appearance="outline" class="room-no-field">
                  <mat-label>Room No.</mat-label>
                  <input matInput formControlName="roomNo" />
                  <mat-error *ngIf="room.get('roomNo')?.hasError('required')">
                    Room number is required
                  </mat-error>
                </mat-form-field>

                <!-- Theory / Lab checkboxes -->
                <mat-checkbox formControlName="isTheory">Theory</mat-checkbox>
                <mat-checkbox formControlName="isLab">Lab</mat-checkbox>

                <!-- Lab course codes (shown only if Lab) -->
                <mat-form-field
                  appearance="outline"
                  *ngIf="room.get('isLab')?.value"
                  class="lab-course-field"
                >
                  <mat-label>Lab Course Codes</mat-label>
                  <input
                    matInput
                    formControlName="labCourses"
                    placeholder="ICE3142, CSE1292"
                  />
                  <mat-hint>Enter course codes separated by commas</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
