.outlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    .sub-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 16px;
      .section {
        background-color: #fafafa;
        padding: 16px 16px 0 16px;
        border-radius: 12px;
        .sub-header {
          font-weight: 600;
        }
      }
      .start-end-break-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 16px;
      }
      .teacher-info-section {
        .teacher-details-area {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .teachers-area {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .teacher-item {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              column-gap: 16px;
            }
          }
        }
      }
      .room-info-section {
        .room-details-area {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .rooms-area {
            display: flex;
            flex-direction: column;
            .room-item {
              .lab-course-field {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
}
