.mat-mdc-text-field-wrapper {
  padding: 0 16px !important;
}

.mat-mdc-form-field {
  --mdc-outlined-text-field-container-shape: 12px;
}

.cdk-overlay-pane {
  background: #faf9fd;
}

.mat-mdc-option:hover {
  background-color: lightgray !important; /* Hover background color */
  color: black !important; /* Text color on hover */
}

.mdc-list-item--selected {
  background-color: #dae2f9 !important; /* Background for selected option */
  color: black !important; /* Text color for selected option */
}

mat-error {
  color: #ba1a1a !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

mat-hint {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
